#OSX
#-------------------------------------------------------------------------------
.DS_STORE

#General
#-------------------------------------------------------------------------------
dist/*
node_modules
*.tsx
yarn.lock
package-lock.json

#Env
#-------------------------------------------------------------------------------
env_file

#IDE
#-------------------------------------------------------------------------------
.idea
.vs

#Custom
#-------------------------------------------------------------------------------
src/games
cheatsheets